.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}
.login-button-text {
    margin-left: 10px;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-area {
    display: flex;
}
.menu-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: auto;
}
.menu-list li {
    padding: 10px;
}
.search-area {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #212020;
    margin-left: auto;
    margin-right: 10px;
}
.search-area input {
    border: none;
    outline: none;
    padding: 15px 5px;
    font-size: 15px;    
}